<h4>Create a product:</h4>
<div *ngIf="error">
    <hr>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true" (click)="hideError()">&times;</span></button>
        <strong>Warning!</strong> Error creating product.
    </div>
    <hr>
</div>
<form class="form-horizontal" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    </div>
    <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">Brand</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="brand" formControlName="brand">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Create</button>
        </div>
    </div>
</form>